<div class="row start-xxs center-sm start-md mt-4 mb-4">
  <div class="col-xxs-12 col-sm-6 col-md-4" *ngFor="let hotel of hotelList">
    <app-card-hotel [hotel]="hotel"></app-card-hotel>
  </div>
</div>

<div class="pagination-container">
    <i class="bi-arrow-left-circle" style="font-size: 2rem; color: cornflowerblue;" (click)="previousPage()"></i>
    {{ pageNumber }} de {{ total_page }}
    <i class="bi-arrow-right-circle" style="font-size: 2rem; color: cornflowerblue;" (click)="nextPage()"></i>
</div>
