<app-header></app-header>

<div class="container">
  <div class="title">
    <h1>Find the best hotel</h1>
  </div>

  <div class="box">
    <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row firstRow">
          <div
            class="alert alert-danger mt-4 mb-3"
            role="alert"
            *ngIf="checkForm"
          >
            It is necessary to complete all the fields to start the search
          </div>

          <!-- Destination -->
          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 center">
            <div class="row">Destination</div>
            <div class="row">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Destination"
                  formControlName="destination"
                />
              </div>
            </div>
            <div class="row">
              <small
                *ngIf="
                  hotelForm.get('destination')?.invalid &&
                  hotelForm.controls['destination'].touched
                "
                class="text-red"
                >It's required</small
              >
            </div>
          </div>

          <!-- Date - Check in -->
          <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 center">
            <div class="row">Check in</div>
            <div class="row">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dpInit"
                  [(ngModel)]="modelInit"
                  ngbDatepicker
                  #i="ngbDatepicker"
                  (click)="i.toggle()"
                  formControlName="checkin"
                />
              </div>
            </div>
            <div class="row">
              <small
                *ngIf="
                  hotelForm.get('checkin')?.invalid &&
                  hotelForm.controls['checkin'].touched
                "
                class="text-red"
                >It's required</small
              >
            </div>
          </div>

          <!-- Date - Check out -->
          <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 center">
            <div class="row">Check out</div>
            <div class="row">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dpLast"
                  [(ngModel)]="modelLast"
                  ngbDatepicker
                  #l="ngbDatepicker"
                  (click)="l.toggle()"
                  formControlName="checkout"
                />
              </div>
            </div>
            <div class="row">
              <small
                *ngIf="
                  hotelForm.get('checkout')?.invalid &&
                  hotelForm.controls['checkout'].touched
                "
                class="text-red"
                >It's required</small
              >
            </div>
          </div>

          <!-- Guests -->
          <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 center">
            <div class="row">Guests</div>
            <div class="row">
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Guests"
                  formControlName="guests"
                  min="1"
                  max="4"
                />
              </div>
            </div>
            <div class="row">
              <small
                *ngIf="
                  hotelForm.get('guests')?.invalid &&
                  hotelForm.controls['guests'].touched
                "
                class="text-red"
                >It's required</small
              >
            </div>
          </div>

          <!-- Button search -->
          <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1 center">
            <div class="row">Search</div>
            <div class="row">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                type="submit"
                *ngIf="!loading"
              >
                Search
              </button>
              <button
                class="btn btn-primary btn-sm"
                type="button"
                disabled
                *ngIf="loading"
              >
                <span
                  class="spinner-grow spinner-grow-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Searching...
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="spinner mt-5" *ngIf="loading">
    <div
      class="spinner-grow text-primary"
      style="width: 5rem; height: 5rem"
      role="status"
    ></div>
  </div>

  <app-group-card-hotel
    [hotelList]="hotelList"
    [total_page]="total_page"
    *ngIf="hotelList"
    (pagEmitter)="changePage($event)"
  ></app-group-card-hotel>

  <div class="alert alert-warning mt-4 mb-3" role="alert" *ngIf="error">
    We did not find hotels with the indicated parameters :(
  </div>

  <!-- <div class="tableHotel">
    <app-table-hotel
      [hotelList]="hotelList"
      [total_page]="total_page"
      *ngIf="hotelList"
      (pagEmitter)="changePage($event)"
    ></app-table-hotel>
  </div> -->
</div>
