<app-header></app-header>

<div class="container">
    <div class='col-md-5'>
       <div class="form-group">
          <div class='input-group date' id='datetimepicker6'>
             <input type='text' class="form-control" />
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
             </span>
          </div>
       </div>
    </div>
    <div class='col-md-5'>
       <div class="form-group">
          <div class='input-group date' id='datetimepicker7'>
             <input type='text' class="form-control" />
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
             </span>
          </div>
       </div>
    </div>
 </div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

<app-footer></app-footer>
